@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
/* html{
    width: 100%;
} */
body{
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
}
header{
    height: 65px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #F3F3F3;
    z-index: 100;
}
.logo{
    height: 16px;
    width: 130px;
    margin-right: 290px;
    margin-left: 10px;
}
#options{
    height: 72px;
    width: 600px;
    display: flex;
    color: rgb(110, 110, 110);
    justify-content:space-evenly;
    align-items:center;
    margin-right: 20px;
    margin-left: 50px;
    padding-left: 55px;
}
.options{
    font-size: 15px;
    font-weight: normal;
}
.options:hover{
    color: #2691e9;
}
#menu{
    height: 30px;
    width: 30px;
}
#section1{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#sec1{
    height:600px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#landingimg{
    width: 700px;
    max-height: 290px;
    
}
#landing-heading{
    font-size: 29px;
    font-weight: 450;
    margin-top: 10vh;
    color: #3a3939;
    text-align: center;
}
#landing-paragraph{
    width: 100%;
    font-size:21px;
    margin-top: 15px;
    color:#464444;
    text-align: center;
}
.landing-button{
    text-align: center;
    font-size: 21px;
    font-weight: 549px;
    padding: 10px 30px 10px 30px;
    background-color: #387ED1;
    border: none;
    border-radius: 3px;
    margin-top: 7.5vh;
    color: white;
}
#section2{
    width: 100%;
    height: 650px;
    /* background-color: black; */
    margin-top: 110px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sec2{
    width:1100px;
    /* height: 100%; */
    display: flex;
    justify-content:baseline space-evenly;
    align-items: center;

}
#sec2-1{
    width: 40%;
    margin-left: 20px;
}
#sec2-1-heading{
    color:#353535;
    padding:0px 0px 20px 0px;
    font-size: 25px;
    font-weight: 400;
}
.sec2-1-subheading{
    color: #444444;
    font-size: 21px;
    padding: 30px 0 13px 0;
    font-weight:500;
}
.sec2-1-discription{
    color: #6b6b6b;
    font-size: 17.2px;
    line-height: 28px;
}
#sec2-2{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sec2-2-img{
    width: 105%;
    height: 94%;
    margin-left: 30px;
}
#sec2-2-link{
    height: 6%;
    width: 65%;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    color: #2b6da3;
    align-items: center;
    justify-content:space-evenly;
    font-size: 16px;
}
.span{
    color:#2691e9;
}
#section3{
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;  

}
#sec3{
    width: 100%;
    height: 200px; 
    display: flex;
    justify-content: center;  
}
#sec3-img{
    width: 52%;
    height: 40px;
    margin-top: 35px;
}
#section4{
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec4{
    width: 1100px;;
    height: 320px;

    display: flex;
}
#sec4-1{
    margin-left: 20px;
    margin-top: -25px;
    height: 100%;
    width: 42%;
}
.sec4-1-link{
    font-family: sans-serif;
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
    color:#2691e9;
    margin-top: 20px;

}
#sec4-2{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 30px;
}
#sec4-2-div{
    height: 102px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}
.sec4-2-img{
    height: 100% ;
    width: 17%;
}
.sec4-2-text{
    height: 50%;
    width: 17%;
    position: relative;
    margin-top: 37px;
    line-height: 15px;
    margin-left: -15px;
    font-size: 10.8px;
    color: #757575;
}
#sec4-2-img-text{
    width: 30%;
}
#section5{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec5{
    width: 1100px;
    height: 450px;
    display: flex;
}
#sec5-1{
    width: 52%;
}
#sec5-1-img{
    width: 75%;
    height:300px ;
}
#sec5-2{
    width: 48%;
}
#section6{
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sec6{
    width: 1100px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:baseline;
}
footer{
    width: 100%;
    height: 950px;
    background-color: #FBFBFB;
    margin-top: 30px;
    border-top: 1.5px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#part1{
    width: 83%;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#part1-1{
    width: 25%;
    height: 100%;
    position: relative;
    left: -10px;
}
.logos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(169, 168, 168, 0.318);
}
.logos i {
    font-size: 25px;
    color: rgb(86, 86, 86);
}
.logos2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 12px;
}
.logos2 i {
    font-size: 25px;
    color: rgb(86, 86, 86);
}
.part1-2{
    width: 16%;
    height: 100%;
}
.part1-2-heading{
    font-size: 19px;
    font-weight: 450;
    color: #3a3939;
}
.part1-2-options{
    font-size: 15px;
    color: #6b6b6b;
    margin-top: 20px;
}
.part1-2-options:hover{
    color: #2691e9;
}
#part2{
    width: 80%;
    height: 420px;
}
.part2-paragraph{
    font-size: 11px;
    color: #9B9B9B;
    line-height: 20px;
}
.span1{
    color: #387ED1;
}
.span1:hover{
    color:#353535;
}
#part3{
    display: flex;
    height: 15px;
    width: 70%;
    justify-content: space-around;
}
.part3-text{
    font-size: 12px;
    color: #9B9B9B;
}
.part3-text:hover{
    color: #387ED1;
}
.part1-1-text{
    font-size: 14px;
    color: #6b6b6b;
    margin-top: 20px;
    line-height: 25px;
}
@media (max-width:1100px) {
    /* #sec1, #sec2, #sec3, #sec4, #sec5, #part2{
        width: 100%;
    } */
}

/* talet view */
@media (max-width:800px) {
        .options{
        display:none;
    }
    #options{
        justify-content:end;
        margin-right: 40px;

    }
    #sec2{
        height: 750px;
        flex-direction:column;
    }
    #sec2-1{
        width: 95%;
    }
    #sec2-2{
        height: 100%;
        width: 90%;
    }
    #sec2-2-link{
        width: 85%;
    }
    #section3{
        margin-top: 580px;
        height: 200px;
    }
    #sec3-img{
        width: 90%;
        margin-left: 20px;
    }
    #sec4{
        flex-direction: column;
        align-items: baseline;
    }
    #sec4-1{
        width: 95%;
    }
    #sec4-2{
        width: 65%;
    }
    #sec4-2-div{
        position: relative;
        top:-160px;
        left: -20px;
    }
    #sec4-1-link{
        position: relative;
        margin-top: 100px;
    }
    #section5{
        margin-top: 90px;
        height: 700px;
        align-items: baseline;
    }
    #sec5{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #sec5-1{
        width: 90%;

    }
    #sec5-1-img{
        margin-top: 40px;
        height: 350px;
        width: 70%;
    }
    #sec5-2{
        margin-top: 20px;
        width: 90%;
        height: 100px;
    }
    footer{
        height: 2500px;
    }
    #part1{
        flex-direction: column;
        justify-content: baseline;
        align-items: baseline;
        width: 90%;
        /* height: 1030px; */
    }
    #part1-1{
        margin-top: 10px;
        width: 40%;
    }
    .part1-2{
        width: 40%;
        margin-top: 40px;
    }
    #part2{
        margin-top: 1150px;
        width: 90%;
    }
    #part3{
        width: 90%;
        margin-top: 180px;
        gap: 10px;
        flex-wrap: wrap;
    }
}
@media (max-width:500px) {
    
}
